<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BankingManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>loadingpage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WithDraw</display-name>
    <servlet-name>WithDraw</servlet-name>
    <servlet-class>com.withdraw.WithDraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithDraw</servlet-name>
    <url-pattern>/WithDraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinCreate</display-name>
    <servlet-name>PinCreate</servlet-name>
    <servlet-class>pack1.PinCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinCreate</servlet-name>
    <url-pattern>/PinCreate</url-pattern>
  </servlet-mapping>
</web-app>